# win32yankはWSL側に配置すると起動が遅くなる問題があるので、他のコマンドとは分けてwinhomeに置く
# https://github.com/equalsraf/win32yank/issues/22
# バージョンはそうそう変わらないので気付いたら変えるくらいでヨシ
- name: check win32yank
  stat:
    path: /opt/winhome/win32yank.exe
  register: win32yank_stat
- name: install win32yank
  become: true
  when: not win32yank_stat.stat.exists
  block:
    - unarchive:
        src: https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip
        dest: /opt/winhome
        remote_src: true
    - file:
        src: /opt/winhome/win32yank.exe
        dest: /usr/local/bin/win32yank
        state: link
