- name: setup direcrories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
  loop:
    - "{{ ghq_root }}/github.com/cumet04"

- name: symlink dotfiles to repos dir, for repo_look
  file:
    src: "{{ dotfiles_root }}"
    dest: "{{ ghq_root }}/github.com/cumet04/dotfiles"
    state: link
- name: symlink configs
  block:
    - find:
        paths: "{{ dotfiles_root }}/home/.config"
        file_type: any
      register: config
    - file:
        src: "{{ item.path }}"
        dest: "{{ ansible_env.HOME }}/{{ item.path | replace(dotfiles_root + '/home/', '') }}"
        state: link
      loop: "{{ config.files }}"
- name: symlink local/share
  block:
    - find:
        paths: "{{ dotfiles_root }}/home/.local/share"
        file_type: any
      register: localshare
    - file:
        path: "{{ ansible_env.HOME }}/.local/share"
        state: directory
        owner: "{{ ansible_user }}"
    - file:
        src: "{{ item.path }}"
        dest: "{{ ansible_env.HOME }}/{{ item.path | replace(dotfiles_root + '/home/', '') }}"
        state: link
      loop: "{{ localshare.files }}"
- name: symlink wsl.conf
  become: true
  file:
    src: "{{ dotfiles_root }}/configs/wsl.conf"
    dest: /etc/wsl.conf
    state: link
    force: yes
- name: deploy win-wslconfig
  become: true
  copy:
    src: "{{ dotfiles_root }}/configs/.wslconfig"
    dest: /opt/winhome/.wslconfig
