- name: link win commands
  become: true
  file:
    src: "{{ item.src }}"
    dest: "/usr/local/bin/{{ item.dest }}"
    state: link
  loop:
    - src: "/opt/winhome/AppData/Local/Programs/Microsoft VS Code/bin/code"
      dest: code

# win32yankはWSL側に配置すると起動が遅くなる問題があるので、他のコマンドとは分けてwinhomeに置く
# https://github.com/equalsraf/win32yank/issues/22
# バージョンはそうそう変わらないので気付いたら変えるくらいでヨシ
- name: check win32yank
  stat:
    path: /usr/local/bin/win32yank
  register: win32yank_stat
- name: install win32yank
  become: true
  when: not win32yank_stat.stat.exists
  block:
    - unarchive:
        src: https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip
        dest: /opt/winhome
        remote_src: true
    - file:
        src: /opt/winhome/win32yank.exe
        dest: /usr/local/bin/win32yank
        state: link

- name: timesyncd
  become: true
  block:
    - name: set ntp server
      lineinfile:
        path: /etc/systemd/timesyncd.conf
        regexp: 'NTP='
        line: 'NTP=ntp.nict.jp'
        state: present
      notify: restart systemd-timesyncd
    # WSL環境では下記をやらないとtimesyncdが動かない
    # refs https://choichoitto.amebaownd.com/pages/540301/blog
    # refs https://kenedori.hatenablog.com/entry/2022/12/10/050232
    - name: override ConditionVirtualization
      blockinfile:
        path: /etc/systemd/system/systemd-timesyncd.service.d/override.conf
        create: true
        block: |
          [Unit]
          ConditionVirtualization=
      notify: restart systemd-timesyncd

- name: keep wsl alive
  # from https://github.com/microsoft/WSL/issues/10138#issuecomment-2380431569
  become: true
  block:
    - name: put service file
      blockinfile:
        path: /etc/systemd/system/keep_wsl_alive.service
        create: true
        block: |
          [Unit]
          Description=Keep Distro Alive

          [Service]
          ExecStart=/mnt/c/Windows/System32/wsl.exe sleep infinity

          [Install]
          WantedBy=multi-user.target
    - name: enable
      systemd:
        name: keep_wsl_alive.service
        enabled: true
        state: started
