[user]
	email = medalhkr@gmail.com
	name = medalhkr
[core]
	excludesfile = ~/.config/gitignore_global
	editor = emacs
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
