home/.config/fish/fish_variables
home/.config/fish/secret_env
home/.config/htop
home/.config/nvim/.netrwhist
home/.config/direnv/allow
home/.config/configstore
home/.config/sao-nodejs
home/.config/wslu
home/.config/gh/hosts.yml
home/.config/gh/state.yml
